<!DOCTYPE html>
<html>
    <head>
        <title>Your contacts page</title>
    </head>
    <body>
        <h1>Here are all of your contacts:</h1>
        {%for contact in contacts%}
        <ul>
            <li>{{contact.getName}}</li>
        </ul>
    </body>
</html>
