<!DOCTYPE html>
<html>
    <head>
        <title>Your contacts page</title>
    </head>
    <body>
        <h1>You have successfully cleared your contact list.</h1>
        <form action="/">
            <button type='submit' class='btn success'>Home</button>
        </form>
    </body>
</html>
