.addressBook {
  background-color: beige;
  margin-left: 30px;


  font-family: 'Cabin Sketch', cursive;

}
.addressBook>div {
  background-color: beige;
  margin-left:30px;
  border-left: 1px solid salmon;
}
.addressBook h1 {
  width:100%;
  padding-top: 20px;
  margin:10px;
  margin-left:0px;
  border-bottom: 1px solid salmon;

}
.addressBook ul {
  padding:0px;
  margin: 0px;
  padding-bottom: 1.25em;
  width:100%;
  border-bottom: 2px solid skyblue;
}
.addressBook li {
  margin:0px;
  padding:0px;
  padding-left: 0px;
  list-style: none;
  border-bottom: 2px solid skyblue;
  width:100%;
}
li:first-of-type {
  font-size: 1.1em;
  text-decoration: underline;

}
.row>*:nth-last-child(1):nth-of-type(4n + 1), .row>*:nth-last-child(2):nth-of-type(4n + 1), .row>*:nth-last-child(3):nth-of-type(4n + 1){
  width:100%;
}
.row>*:nth-last-child(1):nth-of-type(4n + 2), .row>*:nth-last-child(2):nth-of-type(4n + 2){
  width:100%;
}
.row>*:nth-last-child(1):nth-of-type(4n + 3){
  width:100%;
}

/*.row>*:nth-last-child(1):nth-of-type(4n + 1)~.row>*:nth-last-child(2):nth-of-type(4n + 2),.row>*:nth-last-child(1):nth-of-type(4n + 1)+.row>*:nth-last-child(2):nth-of-type(4n + 2) {
  color:green;
  width:50%;
}
.row>*:nth-last-child(1):nth-of-type(4n + 1)+.row>*:nth-last-child(2):nth-of-type(4n + 2)+.row>*:nth-last-child(2):nth-of-type(4n + 3) {
  color:blue;
  width:33.333333%;
}
.row>*:nth-last-child(1):nth-of-type(4n + 1)+.row>*:nth-last-child(2):nth-of-type(4n + 2)+.row>*:nth-last-child(2):nth-of-type(4n + 3)+.row>*:nth-last-child(2):nth-of-type(4n + 4) {
  color:red;
  width:25%;
}*/


.row>* {
  padding:0px;
  margin:0px;
}
.row {
  margin-left: 0px;
  margin:0px;
  padding:0px;
}
